<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'about', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
    <div>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: "picture-me" %>
        </div>
        <div class="col-md-8">
          <p>After 10 years split between working as a Firefighter and as an Infantryman in the United States Army, I decided that I wanted a change. After much deliberation, I packed up, moved 2500+ miles away from the place I called home and found myself enrolling in the February 2017 cohort at Bottega Tech.</p>

          <p>"Education is the kindling of a flame, not the filling of a vessel."</p>

          <p>-Socrates</p>
        </div>
      </div>
    </div>
</html>
