<h1>Contact Me</h1>

<p><%= number_to_phone "6035029606" %></p>

<p><a href="mailto:irmercaldi@gmail.com?subject=Portfolio Contact" "email me">Email me</a></p>


<h4>School Address</h4>
<p>2912 Executive Parkway, Lehi, Utah, 84043</p>

<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1422220412323!2d-111.89820288432169!3d40.42784956288652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752802ed15066bf%3A0x1027933f3c6618d8!2s2912+Executive+Pkwy%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1489167769082" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>