<div class="inner cover">
  <body background="http://s1.1zoom.net/big7/725/Scenery_USA_Parks_413000.jpg">
    <h1 class="cover-heading">Welcome To My Workspace</h1>
    <p class="lead">"Any fool can know. The point is to understand."</p>
    <p>-Albert Einstein</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </body>
</div>
