    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bottega Portfolio</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Stuff</a>
                <a class="nav-link" href="#">Contact Me</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">This is my Page</h1>
            <p class="lead">This is where I talk about stuff. I don't know much about stuff but the stuff I do know, I like talking about. </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
