<div class="inner cover">
  <h1 class="cover-heading">This is my Page</h1>
  <p class="lead">This is where I talk about stuff. I don't know much about stuff but the stuff I do know, I like talking about. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
