<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="inner cover">
    <body class="home-banner">
      <h1 class="cover-heading">Welcome To My Workplace</h1>
      <p class="lead">"Any fool can know. The point is to understand."</p>
      <p>-Albert Einstein</p>
      <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
      </p>
    </body>
  </div>
</html>