@import "gritter";
/*@import "bootstrap";*/
@import "font-awesome";

.app-card-container {
  text-align: center; 
}

.social-links {
  font-size: 2.5em;
}

.github {
  padding-right: 10px;
  color: black;
}

.facebook {
  padding-right: 10px;
}

.twitter {
  padding-right: 10px;
}

.instagram {

}
