body {
  background: url(http://s1.1zoom.net/big7/725/Scenery_USA_Parks_413000.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-banner {
  padding-bottom: 250px;
}